/* Stylesheet for EVERYTHING */
* {
	font-family: 'Ubuntu', sans-serif;
	color: #cd1818;
}
body {
	background-color: #321e1e;
	min-width: 20%;
}
/* Bootstrap */
:root {
	--bs-primary: #116d6e;
	--bs-secondary: #cd1818;
	--bs-success: #321e1e;
	--bs-info: #4E3636;
}